@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

html, body {
  overflow: hidden;
}

body {
  font-family: 'Montaga', serif !important;
  background: var(--bg-color);
  color: var(--fg-color);
}

.textdiv {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 70%;
  height: 200px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #00000052;
  border-radius: 4px;
  background-color: var(--muted-bg);
  font-size: 16px;
  font-family: inherit;
  resize: none;
  margin-bottom: 10px;
  transition: 0.1s ease;
}

textarea:focus {
  outline: none;
  border: solid 1px #046197cc;
}


.button {
  position: relative;
  background-color: white;
  appearance: none;
  border: 2px solid #1A1A1A;
  font-family: inherit;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 6px;
  min-width: 0;
  outline: none;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-radius: 0;
  border-image: url("../public/homebg.png") 100;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}