@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow: hidden;
}

body {
  font-family: 'Montaga', serif !important;
  background: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.textdiv {
  flex-direction: row;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-books-list {
  width: 53vw;
  padding: 2vw;
  margin-right: 2vw;
  height: min(65vh, 620px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px var(--fg-color);
  border-bottom: solid 1px var(--fg-color);
}

#already-read {
  margin-bottom: 10px;
  border-bottom: solid 1px var(--fg-color);
}

#bookinput {
  width: 80%;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #00000052;
  border-radius: 4px;
  background-color: var(--muted-bg);
  font-size: 16px;
  font-family: inherit;
  resize: none;
  transition: 0.1s ease;
}

.square-bottom-corners {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#bookinput:focus {
  outline: none;
  border: solid 1px #046197cc;
}

.book-input-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#book-autocomplete {
  width: 80%;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  height: min(60vh, 600px);
  overflow-y: scroll;
  background-color: var(--muted-bg);
  border: 1px solid #00000052;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.book-completion {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px;
  gap: 15px;
  margin-bottom: 5px;

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  };
}

.book-completion-image {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.book-completion-image:hover {
  cursor: pointer;
  opacity: 0.8;
  scale: 1.01;
  transition: 0.1s ease-in-out;
}

.book-completion-info {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  @media (max-width: 800px) {
    align-items: center;
  }
}

.book-completion-title {
  font-size: 20px;
  max-width: calc(100% - 50px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.book-completion-authors {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.book-completion-snippet {
  font-size: 14px;
  margin-block: 10px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: initial;
  }
}

.book-completion-button {
  padding: 5px;
  font-size: 0.8em;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
  border: solid 1px var(--fg-color);
  background-color: var(--bg-color);
}

.book-completion-button:hover {
  cursor: pointer;
  opacity: 1;
  border: solid 1px #049772cc;
}

.remove-button:hover {
  border: solid 1px #e71203cc !important;
}

.button {
  position: relative;
  background-color: white;
  appearance: none;
  border: 2px solid #1A1A1A;
  font-family: inherit;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 50px;
  min-height: 6px;
  min-width: 0;
  outline: none;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 2px blue solid;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-radius: 0;
  border-image: url("../public/homebg.png") 100;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.rating-input {
  font-size: 0.8em;
  padding: 10px;
}

.rating-input:focus {
  border: solid 1px #049772cc;
  outline: none;
}

/** output **/
#results-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results {
  background-color: #fff;
  width: clamp(200px, 80vw, 800px);
  height: clamp(200px, 60vh, 600px);
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow-y: scroll;
}

#results-title {
  font-size: 1.5em;
  padding: 5px;
  display: flex;
  align-items: center;
}

#results-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

#results-text {
  padding: 0;
  width: 90%;
  height: 100%;
}

.recommendation {
  width: 100%;
  padding: 10px;
  display: flex;
}

#close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-family: monospace;
  font-size: 1.1em;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s ease;
}

#close-overlay:hover {
  background-color: #f7766ccc;
}

#loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#loader-image {
  max-width: clamp(200px, 20vw, 400px);
}