@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	overflow: hidden;
}

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	color: rgba(0, 0, 0 ,0.7);
	font-size: 4rem;
	font-weight: 700;
}

.button {
	font-size: 1.2rem;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.753);
	color: rgba(255, 255, 255, 0.911);
	border-radius: 2px;
	cursor: pointer;
}

.Ltitle {
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 16rem;
	margin-right: -65px;
}

.search {
	font-weight: 400;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px;
	background-color: transparent;
	color: rgba(0,0,0,0.8);
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	border: solid 1px rgba(0, 0, 0, 0.753);
	transition: 0.1s ease;
}

.search:focus {
	font-weight: 600;
	outline: solid 2px rgba(255, 162, 118, 0.9);
	color: rgba(0,0,0);
}

body::before,
body::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

body::before {
	background-image: url('../public/homebg.png');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}


body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Inter', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
