@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	overflow: hidden;
}

body {
	background-image: url("../public/homebg.png");
	background-size: cover;
	height: 100vh;
	font-family: 'Montaga', serif;
}

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	color: rgba(255, 255, 255, 0.9);
	font-size: 4rem;
	font-weight: 700;
}

.button {
	font-size: 1.2rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.753);
	color: rgba(255, 255, 255, 0.911);
	border-radius: 2px;
	cursor: pointer;
	margin-top: -1rem;
}

.Ltitle {
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 16rem;
	margin-right: -65px;
}

.search {
	background-image: url("../public/quill.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 7px;
	font-weight: 400;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px;
	background-color: transparent;
	color: rgba(0,0,0,0.8);
	background-color: rgba(255, 255, 255, 0.596);
	padding: 10px;
	padding-left: 32px;
	width: 200px;
	border-radius: 5px;
	border: solid 1px rgba(0, 0, 0, 0.753);
	transition: 0.1s color ease, 0.1s background-color ease;
}

.search:focus {
	font-weight: 600;
	outline: solid 2px rgba(43, 235, 91, 0.9);
	color: rgba(0,0,0);
	background-color: white;
}





a
{
	font-family: 'Montaga', serif;
	text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: green;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: calc(100vh + 30px);
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

