@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	background-image: url('../public/homebg.png');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;

}

.title {

	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 14rem;
	font-weight: 400;
}

.button {
	z-index: 100;
	font-size: 6rem;
	background-color: black;
	color: white;
	font-family: 'Inter', sans-serif;
}